extends includes/layout

block layout-content
  div.View.WelcomeView
    h1.Banner Aaron Stanley King
    div.Message
      div.Title
        h3 Heading 3
        h1 Heading
      span.Details Details go here
    div.NavButtons
      a(href="/user")
        div.NavButton User Info